@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers available currently</h2><br /><br />
<a href="/Customer/CustomerForm" class="btn btn-primary">Click here to add New Customer</a><br /><br />
<table border="1" class="table table-hover" id="customers">
    <thead>
    <tr>
        <th>Customers</th>
        <th>Membership Type</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
        
      
    </tbody>
    </table>
    @* @foreach (var cust in Model)
    {

        <tr>
            <td>

                @Html.ActionLink(@cust.Name, "Edit", "Customer", routeValues: new { id = cust.Id }, htmlAttributes: null)

            </td>
            <td>@cust.MembershipType.MembershipName</td>
            <td>
                <button data-customer-id="@cust.Id" class="btn-link js-delete">Delete</button>
            </td>
        </tr>
    }  *@


@section scripts
{
    <script>
        $(document).ready(function () {

           // $("#customers").DataTable();
            $("#customers").DataTable({
                ajax: {
                    url: "/api/customers",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "Name",
                        render: function(data, type, cust) {
                            return "<a href='/customer/edit/" + cust.Id + "'>"+ cust.Name + "</a>";
                        }
                    },
                    {
                        data:"Name"
                    },
                    {
                        data: "Id",
                        render: function (data) {
                            return "<button class='btn-link js-delete' data-customer-id='" +data+"'>Delete</button>";
                        }
                    }

                ]

            });

            $("#customers").on("click",".js-delete",
                function () {
                    var currentrow = $(this);
                    
                    //currentrow.data("customer-id");
                    bootbox.confirm("Are you sure you want to delete this person?",
                        function(result) {
                            if (result) {
                                $.ajax({
                                    url: '/api/customers/' + currentrow.data("customer-id"),
                                    method: 'DELETE',
                                    success: function() {
                                        currentrow.parents("tr").remove();
                                    }

                                });
                            }

                        });

                });
        });
    </script>
}